# VS Code files
.vscode/

# Python files
*.pyc
__pycache__/
*.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/

# Installation files
build/
dist/
*.egg/
*.whl/

# Package manager files
.tox/
.venv/
env/
virtualenv/
*.json
*.crt
*.pem
*.rsa
*.pub
*.txt
~/.aws/credentials
~/.aws/config
~/.config/gcloud/application_default_credentials.json
instance/
env.py

# Logs and databases
*.log
*.db

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.settings/
.metadata/

# Other files
*.bak
*.tmp